<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelupalsta</title>
        <meta charset="UTF-8"/>
        <style>
            ul{
                list-style:none;
                padding:0;
            }

            .menuelement{display:inline-block;
                         margin-right: 1em;}

            .listelement{
                text-align: left;
            }

        </style>
    </head>
    <body>
        <div>
            <form action="/">
                <input type="submit" value="Etusivulle"/>
            </form>
        </div>
        <div>
            <ul>
                <li class = "menuelement">
                    <h3>Alue: <span th:text="${alue.nimi}">aluenimi</span></h3>
                    <ul>
                        <li th:each="avaus:${avaukset}" class="listelement">
                            <a th:href="${'/avaus/' + avaus.id}" th:text="${avaus.nimi}">avauksen nimi</a>
                        </li>
                    </ul>
                </li>
                <li class = "menuelement">
                    <h3>Viestej&#228;</h3>
                    <ul>
                        <li th:each="lkm:${viestienLukumaarat}" class="listelement">
                            <span th:text="${lkm}">lukumaara</span>
                        </li>
                    </ul>
                </li>
                <li class = "menuelement">
                    <h3>Viimeisin viesti</h3>
                    <ul>
                        <li th:each="uusi:${uusimmat}" class="listelement">
                            <span th:text="${uusi}">aikaleima</span>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <a th:href="${toisenNakymanOsoite}"><span th:text="${nakymanMuutosTeksti}"></span></a><span th:text="${tietoPiilotetuista}"></span>
        </div>
        <div>
            <a th:href="${'/alue/' + alue.id + '/lisaa'}">Aloita uusi keskustelu</a>
        </div>
    </body>
</html>
