<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Hups! Jotain meni pieleen</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    </head>
    <body class="w3-light-gray">
        <nav class="w3-bar w3-black">               
            <a href="/" class ="w3-bar-item w3-button">Etusivulle</a>
        </nav>
        <div>
            <h3>Hups! Jotain meni pieleen!<br/>
                <span th:text="${virheviesti}"></span></h3>
        </div>
    </body>
</html>
