<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Hups! Jotain meni pieleen</title>
        <meta charset="UTF-8"/>
            <!-- Tämä ehkä turhaa? Tarvitaanko tyylittelyjä?
            <style>
                
            </style> -->
    </head>
    <body>
        <div>
            <h3>Hups! Jotain meni pieleen!<br/>
                <span th:text="${virheviesti}"></span></h3>
            <form action="/">
                <input type="submit" value="Takaisin etusivulle?"/>
            </form>
        </div>
    </body>
</html>
