<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelupalsta</title>
        <meta charset="utf-8" />
        <style>
            ul{
                list-style:none;
                padding:0;
            }
            
            .menuelement{display:inline-block;                        
                        margin-right: 1em;}
            
            .listelement{
                text-align: left;
            }
         
        </style>
    </head>

    <body>

        <div>
            <ul>
                <li class = "menuelement">
                    <h3>Alue</h3>
                    <ul>
                        <li th:each="alue:${alueet}" class="listelement">
                            <a th:href="${'/alue/' + alue.id}" th:text="${alue.nimi}">alueen nimi</a>
                        </li>
                    </ul>
                </li>
                <li class = "menuelement">
                    <h3>Viestej&#228; yhteens&#228;</h3>
                    <ul>
                        <li th:each="lkm:${viestienLukumaarat}" class="listelement">
                            <span th:text="${lkm}">lukumaara</span>
                        </li>
                    </ul>
                </li>
                <li class = "menuelement">
                    <h3>Viimeisin viesti</h3>
                    <ul>
                        <li th:each="uusi:${uusimmat}" class="listelement">
                            <span th:text="${uusi}">aikaleima</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div>
            <form method="POST" action="/">
                Anna alueen nimi:
                <input type="text" name="aluenimi"/>
                <input type="submit" value="Lis&#228;&#228; uusi alue"/>
            </form>
        </div>
    </body>
</html>