/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.6.2017, 22:16:36
    Author     : Maria
*/

ul {
    list-style: none; 
}

li{
    list-style: none; 
}

body{
    background-color: red;
}

