<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelupalsta</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <style>
            #hidden{
                display:none; 
            }
            
            li p{
                width: 50%;                                   
            }
        </style>
        <script>
            function toggleNakyma() {
                if (document.getElementById('id01').style.display == 'block') {
                    document.getElementById('id01').style.display = 'none';

                } else {
                    document.getElementById('id01').style.display = 'block'
                }
            }
        </script>

    </head>
    <body class="w3-light-gray">
        <div>

            <nav class="w3-bar w3-black">               
                <a href="/" class ="w3-bar-item w3-button w3-mobile">Etusivulle</a>
                <a th:href="${'/alue/' + avaus.keskustelualue.id}" class="w3-bar-item w3-button w3-mobile">Takaisin keskustelualueelle</a>
                <a th:href="${ensimmaisenOsoite}" class="w3-bar-item w3-button w3-mobile" th:id="${edellisenId}">Ensimm&#228;inen sivu</a>
                <a th:href="${edellisenOsoite}" class="w3-bar-item w3-button w3-mobile" th:id="${edellisenId}"><span th:text="${edellinen}">Edellinen</span></a>
                <a th:href="${seuraavanOsoite}" class="w3-bar-item w3-button w3-mobile" th:id="${seuraavanId}"><span th:text="${seuraava}">Seuraava</span></a> 
                <a th:href="${viimeisenOsoite}" class="w3-bar-item w3-button w3-mobile" th:id="${seuraavanId}">Viimeinen sivu</a>
            </nav>
        </div>
        <div class="w3-container w3-leftbar w3-border-black"><h3>Alue: <span th:text="${avaus.keskustelualue.nimi}">            
                </span> &#8594; <span th:text="${avaus.nimi}"></span></h3>
        </div>

        <div class="w3-container w3-mobile">
            <ol th:start="${ylimmanViestinNumero}" >
                <li th:each="viesti:${viestit}" >
                    <p th:text="${viesti}">Viestisisältö</p>               
                </li>
            </ol> 
        </div>
        
        <div class="w3-container">
            <input type="button" value="Kirjoita viesti" onclick="toggleNakyma();" />
        </div>

        <div id="id01" class="w3-panel w3-light-gray w3-display-container" style="display:none">
            <form method="POST">
                Max. 2000 merkki&#228;:<br/>
                <textarea maxlength="2000" name ="sisalto" rows="10" cols="50" placeholder="Kirjoita viestisi t&#228;h&#228;n (pakollinen)"></textarea><br/>
                Sy&#246;t&#228; nimimerkki: <br/>
                <input type="text" name="nimimerkki" placeholder="(pakollinen)"/> <br/>
                <input type="submit" value="L&#228;het&#228; viesti"/><br/>
            </form>
        </div>


    </body>
</html>
