<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelupalsta</title>
        <meta charset="UTF-8"/>

    </head>
    <body>
        <div>
            <form action="/">
                <input type="submit" value="Etusivulle"/>
            </form>
            <form th:action="${'/alue/' + avaus.keskustelualue.id}">
                <input type="submit" value="Takaisin keskustelualueelle"/>
            </form>   

            <a th:href="${ensimmaisenOsoite}">Ensimm&#228;inen sivu</a>

            <a th:href="${edellisenOsoite}"><span th:text="${edellinen}">Edellinen</span></a>

            <a th:href="${seuraavanOsoite}"><span th:text="${seuraava}">Seuraava</span></a> 


            <a th:href="${viimeisenOsoite}">Viimeinen sivu</a>
        </div>
        <h3>Alue: <span th:text="${avaus.keskustelualue.nimi}"></span> &#8594; <span th:text="${avaus.nimi}"></span></h3>

        <ol th:start="${ylimmanViestinNumero}">
            <li th:each="viesti:${viestit}">
                <span th:text="${viesti}">Viestisisältö</span>                
            </li>
        </ol> 

        <form method="POST">
            Max. 2000 merkki&#228;:<br/>
            <textarea maxlength="2000" name ="sisalto" rows="10" cols="50" placeholder="Kirjoita viestisi t&#228;h&#228;n"></textarea><br/>
            Sy&#246;t&#228; nimimerkki: <br/>
            <input type="text" name="nimimerkki" /> <br/>
            <input type="submit" value="L&#228;het&#228; viesti"/>
        </form>
    </body>
</html>
